<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/alysonpaige">Alyson Paige.</a>
  </p>

<div class="col-xs-12 col-sm-4">
  <%= image_tag 'apaige.jpg', class: 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
  <h2 class="text-center">Alyson Paige</h2>
  <br />
  <p>
  Highly organized and hard working. Extremely responsible with demonstrated ability to commit to projects. Excellent computer skills. Acknowledged for enthusiasm and strength in analyzing issues and resolving challenging problems. Exceptional ability to create trust and build lasting relationships. Strong leadership abilities as well as communication skills in both English (native language) and Spanish (proficient, intermediate) allowing for successful interaction with people of diverse backgrounds, cultures and professional levels.
  </p>
</div>

</div>

<br class="clear">
<br />
<br />
<br />
<br />